In [2]:
import pandas as pd

Countries = pd.read_csv(r"C:\Users\joaop\Desktop\Final_Project (1)-20240306T153358Z-001\Final_Project (1)\List of Countries by number of Internet Users - Sheet1.csv")

In [3]:
Countries.head()

  Country or Area Internet Users     Population  Rank Percentage Rank.1
0           China    765,367,947  1,409,517,397     1     54.30%    116
1           India    461,347,554  1,339,180,127     2     34.45%    145
2   United States    244,090,854    324,459,463     3     75.23%     68
3          Brazil    141,206,801    209,288,278     4     67.47%     83
4           Japan    115,845,120    127,484,450     5     90.87%     23

In [9]:
Countries_clean = Countries.drop(columns=['Rank.1','Rank','Percentage'])

In [10]:


Countries_clean

       Country or Area Internet Users     Population
0                China    765,367,947  1,409,517,397
1                India    461,347,554  1,339,180,127
2        United States    244,090,854    324,459,463
3               Brazil    141,206,801    209,288,278
4                Japan    115,845,120    127,484,450
..                 ...            ...            ...
210   Falkland Islands          2,881          2,910
211         Montserrat          2,833          5,177
212  Wallis and Futuna          1,383         11,773
213               Niue          1,034          1,618
214          Ascension            361            806

[215 rows x 3 columns]

In [11]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [12]:
Countries_clean.rename(columns={'Country or Area': 'Country'}, inplace=True)

In [14]:
Countries_clean.to_csv('Data_cleaned(gap minder).csv', index=False)